.Main {
    width: 100%;
    height: 50vh;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
        width: 100px;
        height: 100px;
        background: url("https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        animation: spin 2s infinite linear;
        cursor: pointer;
    }

    @keyframes spin {
        from { transform: rotate(0deg) };
        to { transform: rotate(360deg)}
    }

    &__text {
        font-size: 32px;
        font-family: 'Lato';
        margin-left: 16px;
    }
}