body {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// FONTS FROM GOOGLE FONTS
// font-family: 'Roboto', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Teko', sans-serif;
